<div class="perfil-container" *ngIf="usuario() as user">

  <h2>Dados do Cliente</h2>

  <div class="dados">
    <p><strong>Nome:</strong> {{ user.name }}</p>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Perfil:</strong> {{ user.role }}</p>
  </div>

  <h3>Carros Reservados</h3>

  <div *ngIf="veiculosReservados().length === 0">
    Nenhum carro reservado.
  </div>

  <div class="lista-veiculos">
    <app-veiculo-card
      *ngFor="let v of veiculosReservados()"
      [veiculo]="v">
    </app-veiculo-card>
  </div>

</div>